body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50% !important;
  }
}

.c-crimson {
  color: #dc143c !important;
}

.c-brand {
  font-size: 35px !important;
}

.c-bg-crimson {
  background-color: #dc143c !important;
  border-color: #dc143c !important;
  color: white !important;
}

.c-font-m {
  font-family: Montserrat !important;
}

.c-font-i {
  font-family: Iceland !important;
}

.showcase-header {
  text-shadow: 2px 2px 5px #dc143c;
}

.c-bg-black {
  background-color: black !important;
  border-color: black !important;
}

nav li a:hover {
  color: #dc143c !important;
  font-weight: bolder !important;
}
